/* Initial body */
html {
	background-color: #00134d;
}
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100vh;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
	background-image: url('arch.jpg');
	background-repeat: no-repeat;
	background-position:center;
	height: 100vh;
	width: device-width;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
 }
.jumbotron h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5vw;
	color: #EAC117;
    text-align: center;
	text-align: top;
	position: absolute;
	bottom: 50px;
	width: 100%
	
	}
.jumbotron h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200px;
	color: #EAC117;
    text-align: center;
	text-align: top;
	position: absolute;
	top: 1px;
	width: 100%
	
	}
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color:#EAC117;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #EAC117;
  cursor: pointer;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100;
}

.icon-menu i {
  margin-right: 5px;
 
}
.footer {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.7vw;
	color: #EAC117;
    text-align: center;
	text-align: top;
	position: absolute;
	bottom: 15px;
	text-decoration: none;
	width: 100%
}
